*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  
  body{
    display: flex;
    align-items: center;
    
    justify-content: center;
    flex-direction: column;
    background-color: black;

  
    
  }
  
  
  /* nav bar styling */
  .navbar{
    display: flex;
    background-color: lightgray;
    width: 90%;
    position: fixed;
    height: 50px;
    z-index: 9;
    opacity: 1;
    border-radius: 20px;
    top: 0;
    margin-top: 10px;
  }
  
  
  .navbar > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    align-items: center;
  }
  
  .NavItem {
    text-decoration: none;
    cursor:pointer;
    font-size: 1.5rem;
  }
  
  .NavItem.active {
    font-size: 2rem;
    text-decoration: underline;
  }
  
  
  /* home section */
  .home{
    background-color: black;
     
    display: flex;
    position:fixed;
   
    align-items: center;
    /* background-color: rgb(137, 137, 137); */
    height: 100vh;
    opacity: 0;
    width: 100%;
    overflow: hidden;
  }
  
  .heroImg{
    /* position: absolute;
    height: 100%;
    right: 0;
    opacity: 0.4; */
  position: absolute;
  top: 25%;
  right: 10%;
  height: 60%;
  border-radius: 25px;
  outline: none;
  border-color: #927892;
  box-shadow: 0 0 30px #e5b4e6;
  }
  
  .heroContent{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .heroHeading{
    font-size: 7rem;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    
  }
  
  .heroInfo{
    font-size: 2rem;
    text-decoration: underline;
    text-transform: capitalize;
    font-style: italic;
    color: azure;
  }
  .home.active{
    position: relative;
    
  }


  
  
  /* project page */
  .project{
    background-color: black;
  
    position: fixed;
    display: flex;
    align-items: center;
   /*background-color: rgb(137, 137, 137);*/ 
    opacity: 0;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    overflow-x: hidden;
  }
  
  .projectHeading{
    font-size: 5rem;
    font-family: fantasy;
    font-weight: 500;
    text-decoration:underline;
    text-transform: capitalize;
    color: aliceblue;
  }

  .project-ctn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5%;
    width: 80%;
    
    
  }
  
  .project-card{
    width: 95%;
    border: 8px solid black;
    height: 60vh;
    position: relative;
    margin: 50px 0;
  }
  
  .project-img{
    object-fit:fill;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .project-img:hover{
    opacity: 0.2;
  }
  
  .project-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  
  .card-heading{
    font-size: 4rem;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: cursive;
  }
  
  .project-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
  }
  
  .btn-grp{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .card-btn{
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  
  
  
  /* page shift css */
  .home.active, .project.active{
    position: relative;
    opacity: 1;
  }


  /* About page*/
  .about{
    display: flex;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(7, 6, 6);
    opacity: 0;
    flex-direction: column;
    padding: 50px;
    width: 100%;
  }
  
  .info{
    margin: 10% 5%;
    background-color: #FFF;
    padding: 3%;
    border-radius: 40px;
    display: flex;
  }
  
  .info-img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
  }
  
  .info-content{
    font-family: serif;
    
    font-size: 1.5rem;
    margin: 0 10px;
  }
  
  .info-ctn{
    position: relative;
  }
  
  .info-name{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    font-family: cursive;
  }
  
  
  /* page shift css */
 
 
  .skills {
    
    display: flex;
    flex-wrap: wrap;
   
  }

  /* .card {
    
    box-shadow: 0 4px 8px 0 white;
    transition: 0.3s;
  }
   */
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 white;
  } */
  
  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
    color: azure;
  } */


  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  .head{
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform:capitalize;
    color: #FFF;
    margin-top: 5%;
  }
  body {
    background-color: #000;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #ac7d2b;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
  .eae{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .eae-heading{
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform:capitalize;
    color: #FFF;
    margin-top: 10%;
  }
  
  .eae-ctn{
    margin: 3rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  
  .eae-ctn:before{
    content: '';
    width: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    height: 132vh;
  }
  
  .eae-card{
    width: 40%;
    background-color: #998bcf;
    color: white;
    border: 10px solid black;
    border-radius: 20px;
    padding: 15px;
    z-index: 0;
    display: block;
    position: relative;
  }
  
  .eae-card:nth-child(even){
    margin-left: 67%;
  }
  
  .eae-card:nth-child(odd)::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    right: -41%;
    top: 35%;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
  }
  
  
  .eae-card:nth-child(even)::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: -41.4%;
    top: 35%;
    z-index: 9;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
  }
  
  
  .eae-card:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 150px;
    right: -38%;
    top: 49%;
    z-index: -1;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
  }
  
  
  .eae-card:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 150px;
    left: -38%;
    top: 49%;
    z-index: -1;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
  }
  
  .contact{
    display: flex;
    position: fixed;
    display: flex;
    align-items: center;
    background: black;
    opacity: 0;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    justify-content: center;
    height: 100vh;
    margin-top: 2%;
  }
  
  .contact-ctn{
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 20px double darkgray;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 10%;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  
  input{
    font-size: 2rem;
    margin: 10px;
    text-transform: capitalize;
  }
  
  button{
    margin: 15px;
    width: 7rem;
    font-size: 1rem;
    margin-left: 25%;
  }
  
  
  .contact-ctn:before{
    content: '';
    width: 2px;
    background-color: rgb(14, 13, 13);
    position: absolute;
    left: 40%;
    height: 450px;
  }
  
  
  /* page shift css */
  .home.active, .project.active, .about.active, .contact.active{
    position: relative;
    opacity: 1;
  }